<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>BookStore - Admin</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body {
            padding-top: 56px; /* Adjust for fixed navbar */
        }
        .sidebar {
            position: fixed;
            top: 56px; /* Height of navbar */
            bottom: 0;
            left: 0;
            z-index: 100;
            padding: 0;
            box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }
        .sidebar .nav-link {
            font-weight: 500;
            color: #333;
            padding: 0.75rem 1rem;
        }
        .sidebar .nav-link:hover {
            color: #007bff;
        }
        .sidebar .nav-link .fas {
            margin-right: 0.5rem;
        }
        /* Adjust main content area to account for sidebar */
        @media (min-width: 768px) {
            main.col-md-9 {
                padding-top: 1.5rem;
            }
        }
    </style>
</head>

<body>
<main>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#" th:href="@{/}">
                <img src="/images/books.png" alt="Books Logo" width="40" height="40"> BookStore
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/cart" th:href="@{/cart}">
                            <th:block th:insert="~{partials/cart-item-count}"></th:block>
                        </a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/images/user.jpg" alt="User Avatar" width="30" height="30" class="rounded-circle me-1">
                            <span sec:authentication="principal.name">User</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                            <li sec:authorize="hasRole('ROLE_ADMIN')">
                                <a class="dropdown-item" href="/admin">
                                    <i class="fas fa-cog"></i> Administration
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/orders">
                                    <i class="fas fa-list-alt"></i> My Orders
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" th:href="@{/logout}">
                                    <i class="fas fa-sign-out-alt"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <!-- Left Side Navbar -->
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
                <div class="position-sticky pt-3">
                    <h3 class="p-2">Administration</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin}">
                                <i class="fas fa-home"></i> Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/products}">
                                <i class="fas fa-box"></i> Products
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/orders}">
                                <i class="fas fa-shopping-cart"></i> Orders
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            
            <!-- Main Content Area -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div>
                    <div layout:fragment="content">
                        <!-- Your Page Content Here -->
                    </div>
                </div>
            </main>
        </div>
    </div>
</main>

<script src="/webjars/jquery/jquery.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.bundle.js"></script>
<script src="/webjars/htmx.org/dist/htmx.min.js"></script>
<div layout:fragment="pageScripts">
</div>
</body>
</html>
