<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div th:insert="~{partials/cart}"> </div>
    <div th:if="${cart.itemCount > 0 }" class="d-flex justify-content-center mt-3">
        <div class="p-2">
            <a class="btn btn-secondary btn-lg" th:href="@{/books}">Continue Shopping</a>
        </div>
        <div class="p-2">
            <a class="btn btn-primary btn-lg" th:href="@{/orders/checkout}">Checkout</a>
        </div>
    </div>
</div>
</body>
</html>
