<div th:fragment="pagination">
    <nav aria-label="Page navigation" th:if="${booksPage.totalPages() > 1 }">
        <ul class="pagination pagination justify-content-center">
            <li class="page-item" th:classappend="${!booksPage.hasPrevious()} ? disabled : ''">
                <a class="page-link" href="#" th:href="${'/books?page=1'}">First</a>
            </li>
            <li class="page-item" th:classappend="${!booksPage.hasPrevious()} ? disabled : ''">
                <a class="page-link" href="#" th:href="${'/books?page='+(booksPage.pageNumber() - 1)}">Previous</a>
            </li>
            <li class="page-item" th:classappend="${!booksPage.hasNext()} ? disabled : ''">
                <a class="page-link" href="#" th:href="${'/books?page='+(booksPage.pageNumber() + 1)}">Next</a>
            </li>
            <li class="page-item" th:classappend="${!booksPage.hasNext()} ? disabled : ''">
                <a class="page-link" href="#" th:href="${'/books?page='+(booksPage.totalPages())}">Last</a>
            </li>
        </ul>
    </nav>
</div>