<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img th:src="${book.imageUrl}"
                     src="/images/books.png"
                     alt="Book Image"
                     class="img-fluid"
                     height="400" width="300"
                />
            </div>
            <div class="col-md-8">
                <h2 th:text="${book.name}">Book Name</h2>
                <p><strong>ISBN:</strong> <span th:text="${book.isbn}">ISBN</span></p>
                <p><strong>Price:</strong> <span th:text="${'$'+book.price}">Price</span></p>
                <div class="mb-4">
                    <h4>Description</h4>
                    <p th:text="${book.description}">Book Description</p>
                </div>
                <form method="post" th:action="@{/add-to-cart}">
                    <div class="d-grid gap-2 col-6">
                        <input type="hidden" name="isbn" th:value="${book.isbn}"/>
                        <button class="btn btn-primary btn-lg"
                                hx-post="/add-to-cart"
                                hx-swap="none"
                        >
                            Add to Cart
                        </button>
                    </div>
                </form>
                <div class="mt-3">
                    <a th:href="@{/books}" class="btn btn-secondary">Back to Books</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>