<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content">
    <div th:replace="~{partials/pagination :: pagination}"></div>
    <div class="row row-cols-1 row-cols-md-5">
        <div th:each="book : ${ booksPage.data}">
            <div class="col mb-3">
                <div class="card h-100 book">
                    <a th:href="@{/books/{id}(id=${book.isbn})}">
                        <img th:src="${book.imageUrl}"
                             src="/images/books.png"
                             alt="Book Image"
                             class="card-img-top"
                             height="300" width="200"
                        />
                    </a>

                    <div class="card-body">
                        <h6 class="card-title"
                            data-toggle="tooltip"
                            data-placement="top">
                            <a th:href="@{/books/{id}(id=${book.isbn})}"
                               th:text="${book.getDisplayName()}"
                               class="text-decoration-none">book.name</a>
                        </h6>
                        <p class="card-text"
                           data-toggle="tooltip"
                           data-placement="top"
                           th:text="${'Price: $'+book.price}">book.price</p>
                    </div>
                    <div class="card-footer" style="background: transparent; border-top: 0;">
                        <form method="post" th:action="@{/add-to-cart}">
                            <div class="d-grid gap-2">
                                <input type="hidden" name="isbn" th:value="${book.isbn}"/>
                                <button class="btn btn-primary"
                                        hx-post="/add-to-cart"
                                        hx-swap="none"
                                >
                                    Add to Cart
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{partials/pagination :: pagination}"></div>
</div>
</body>
</html>